id: cac44daadfd343db985617bc4242eb6a
name: dotNET DLL Loaded Via Office Applications
path: /Advanced Threat Detection/Windows Process Monitoring
description: ''
type: standard
author: community
entity_type: workbooks
blocks:
- type: text
  code: "|Author|References|\n                 |------|--------|\n               \
    \  |Antonlovesdnb|https://medium.com/threatpunter/detecting-adversary-tradecraft-with-image-load-event-logging-and-eql-8de93338c16|"
- type: sql
  query: 'SELECT $System, $Image, $ImageLoaded FROM SYSMON-IMAGE-LOAD WHERE (($Image
    LIKE "%winword%exe%" OR $Image LIKE "%powerpnt%exe%" OR $Image LIKE "%excel%exe%"
    OR $Image LIKE "%outlook%exe%") AND ($ImageLoaded LIKE "C%Windows%assembly%"))
    GROUP BY $System, $Image, $ImageLoaded '
- type: signal
  DetectionName: dotNET DLL Loaded Via Office Applications
  DetectionTactic: Execution
  DetectionTechnique: User Execution
  DetectionScore: 5
  DetectionSeverity: Medium
  DetectionConfidence: Medium
  TargetHost: $System
cron: null
config:
  parameters: []
